img{
    width: 20%;
    border-radius: 10px;
}
button{
    margin-top: 14px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
    width: 50px;
    border-radius: 5px;
}
#news>a>img{
    width: 50%;
}